/* BACKGROUND COLOR ===========================================================*/
.bg-gray-50  { background-color: rgba( 249, 250, 251, 1 ); }
.bg-gray-100 { background-color: rgba( 244, 245, 246, 1 ); }
.bg-gray-200 { background-color: rgba( 238, 245, 246, 1 ); }
.bg-gray-300 { background-color: rgba( 233, 240, 241, 1 ); }
.bg-gray-400 { background-color: rgba( 228, 235, 236, 1 ); }
.bg-gray-500 { background-color: rgba( 223, 230, 231, 1 ); }
.bg-gray-600 { background-color: rgba( 218, 225, 226, 1 ); }
.bg-gray-700 { background-color: rgba( 213, 220, 221, 1 ); }
.bg-gray-800 { background-color: rgba( 208, 215, 216, 1 ); }
.bg-gray-900 { background-color: rgba( 203, 210, 211, 1 ); }