
/* BACKGROUND OPACITY */
.bg-white { background-color: rgba( 255, 255, 255, 1 ); }
.bg-white-100 { background-color: rgba( 255, 255, 255, 1 ); }
.bg-white-90 { background-color: rgba( 255, 255, 255, .9 ); }
.bg-white-80 { background-color: rgba( 255, 255, 255, .8 ); }
.bg-white-70 { background-color: rgba( 255, 255, 255, .7 ); }
.bg-white-60 { background-color: rgba( 255, 255, 255, .6 ); }
.bg-white-50 { background-color: rgba( 255, 255, 255, .5 ); }
.bg-white-40 { background-color: rgba( 255, 255, 255, .4 ); }
.bg-white-30 { background-color: rgba( 255, 255, 255, .3 ); }
.bg-white-20 { background-color: rgba( 255, 255, 255, .2 ); }
.bg-white-10 { background-color: rgba( 255, 255, 255, .1 ); }

.hover-bg-white-100:hover { background-color: rgba( 255, 255, 255, 1 ); transition: background-color .15s ease-in; }
.hover-bg-white-90:hover { background-color: rgba( 255, 255, 255, .9 ); transition: background-color .15s ease-in; }
.hover-bg-white-80:hover { background-color: rgba( 255, 255, 255, .8 ); transition: background-color .15s ease-in; }
.hover-bg-white-70:hover { background-color: rgba( 255, 255, 255, .7 ); transition: background-color .15s ease-in; }
.hover-bg-white-60:hover { background-color: rgba( 255, 255, 255, .6 ); transition: background-color .15s ease-in; }
.hover-bg-white-50:hover { background-color: rgba( 255, 255, 255, .5 ); transition: background-color .15s ease-in; }
.hover-bg-white-40:hover { background-color: rgba( 255, 255, 255, .4 ); transition: background-color .15s ease-in; }
.hover-bg-white-30:hover { background-color: rgba( 255, 255, 255, .3 ); transition: background-color .15s ease-in; }
.hover-bg-white-20:hover { background-color: rgba( 255, 255, 255, .2 ); transition: background-color .15s ease-in; }
.hover-bg-white-10:hover { background-color: rgba( 255, 255, 255, .1 ); transition: background-color .15s ease-in; }

.white-100 { color: rgba( 255, 255, 255, 1 ); }
.white-90 { color: rgba( 255, 255, 255, .9 ); }
.white-80 { color: rgba( 255, 255, 255, .8 ); }
.white-70 { color: rgba( 255, 255, 255, .7 ); }
.white-60 { color: rgba( 255, 255, 255, .6 ); }
.white-50 { color: rgba( 255, 255, 255, .5 ); }
.white-40 { color: rgba( 255, 255, 255, .4 ); }
.white-30 { color: rgba( 255, 255, 255, .3 ); }
.white-20 { color: rgba( 255, 255, 255, .2 ); }
.white-10 { color: rgba( 255, 255, 255, .1 ); }

.hover-white-100:hover { color: rgba( 255, 255, 255, 1 ); transition: color .15s ease-in;}
.hover-white-90:hover { color: rgba( 255, 255, 255, .9 ); transition: color .15s ease-in;}
.hover-white-80:hover { color: rgba( 255, 255, 255, .8 ); transition: color .15s ease-in;}
.hover-white-70:hover { color: rgba( 255, 255, 255, .7 ); transition: color .15s ease-in;}
.hover-white-60:hover { color: rgba( 255, 255, 255, .6 ); transition: color .15s ease-in;}
.hover-white-50:hover { color: rgba( 255, 255, 255, .5 ); transition: color .15s ease-in;}
.hover-white-40:hover { color: rgba( 255, 255, 255, .4 ); transition: color .15s ease-in;}
.hover-white-30:hover { color: rgba( 255, 255, 255, .3 ); transition: color .15s ease-in;}
.hover-white-20:hover { color: rgba( 255, 255, 255, .2 ); transition: color .15s ease-in;}
.hover-white-10:hover { color: rgba( 255, 255, 255, .1 ); transition: color .15s ease-in;}



.gray-50  { color: hsl( 218, 16%, 98%); }
.gray-100 { color: hsl( 218, 16%, 96%); }
.gray-200 { color: hsl( 218, 16%, 94%); }
.gray-300 { color: hsl( 218, 16%, 90%); }
.gray-400 { color: hsl( 218, 16%, 86%); }
.gray-500 { color: hsl( 218, 16%, 82%); }
.gray-600 { color: hsl( 218, 16%, 78%); }
.gray-700 { color: hsl( 218, 16%, 70%); }
.gray-800 { color: hsl( 218, 16%, 66%); }
.gray-900 { color: hsl( 218, 16%, 60%); }

.black-50  { color: hsl( 220, 10%, 98%); }
.black-100 { color: hsl( 220, 10%, 90%); }
.black-200 { color: hsl( 220, 10%, 80%); }
.black-300 { color: hsl( 220, 10%, 70%); }
.black-400 { color: hsl( 220, 10%, 60%); }
.black-500 { color: hsl( 220, 10%, 50%); }
.black-600 { color: hsl( 220, 10%, 40%); }
.black-700 { color: hsl( 220, 10%, 30%); }
.black-800 { color: hsl( 220, 10%, 20%); }
.black-900 { color: hsl( 220, 10%, 10%); }

.red-50     { color: hsl( 0, 90%, 98%); }
.red-100    { color: hsl( 0, 90%, 92%); }
.red-200    { color: hsl( 0, 90%, 86%); }
.red-300    { color: hsl( 0, 90%, 80%); }
.red-400    { color: hsl( 0, 90%, 74%); }
.red-500    { color: hsl( 0, 90%, 68%); }
.red-600    { color: hsl( 0, 90%, 62%); }
.red-700    { color: hsl( 0, 90%, 56%); }
.red-800    { color: hsl( 0, 90%, 50%); }
.red-900    { color: hsl( 0, 90%, 46%); }

.orange-50  { color: hsl( 23, 100%, 98%); }
.orange-100 { color: hsl( 23, 100%, 92%); }
.orange-200 { color: hsl( 23, 100%, 86%); }
.orange-300 { color: hsl( 23, 100%, 80%); }
.orange-400 { color: hsl( 23, 100%, 74%); }
.orange-500 { color: hsl( 23, 100%, 68%); }
.orange-600 { color: hsl( 23, 100%, 62%); }
.orange-700 { color: hsl( 23, 100%, 56%); }
.orange-800 { color: hsl( 23, 100%, 50%); }
.orange-900 { color: hsl( 23, 100%, 46%); }

.yellow-50  { color: hsl( 42, 100%, 98%); }
.yellow-100 { color: hsl( 42, 100%, 92%); }
.yellow-200 { color: hsl( 42, 100%, 86%); }
.yellow-300 { color: hsl( 42, 100%, 80%); }
.yellow-400 { color: hsl( 42, 100%, 74%); }
.yellow-500 { color: hsl( 42, 100%, 68%); }
.yellow-600 { color: hsl( 42, 100%, 62%); }
.yellow-700 { color: hsl( 42, 100%, 56%); }
.yellow-800 { color: hsl( 42, 100%, 50%); }
.yellow-900 { color: hsl( 42, 100%, 47%); }

.green-50   { color: hsl( 100, 60%, 98%); }
.green-100  { color: hsl( 100, 60%, 92%); }
.green-200  { color: hsl( 100, 60%, 86%); }
.green-300  { color: hsl( 100, 60%, 80%); }
.green-400  { color: hsl( 100, 60%, 74%); }
.green-500  { color: hsl( 100, 60%, 68%); }
.green-600  { color: hsl( 100, 60%, 62%); }
.green-700  { color: hsl( 100, 60%, 56%); }
.green-800  { color: hsl( 100, 60%, 50%); }
.green-900  { color: hsl( 100, 60%, 46%); }
 
.lime-50    { color: hsl( 81, 80%, 98%); }
.lime-100   { color: hsl( 81, 80%, 92%); }
.lime-200   { color: hsl( 81, 80%, 86%); }
.lime-300   { color: hsl( 81, 80%, 80%); }
.lime-400   { color: hsl( 81, 80%, 74%); }
.lime-500   { color: hsl( 81, 80%, 68%); }
.lime-600   { color: hsl( 81, 80%, 62%); }
.lime-700   { color: hsl( 81, 80%, 56%); }
.lime-800   { color: hsl( 81, 80%, 50%); }
.lime-900   { color: hsl( 81, 80%, 46%); }

.cyan-50   { color: hsl( 193, 80%, 98%); }
.cyan-100  { color: hsl( 193, 80%, 92%); }
.cyan-200  { color: hsl( 193, 80%, 86%); }
.cyan-300  { color: hsl( 193, 80%, 80%); }
.cyan-400  { color: hsl( 193, 80%, 74%); }
.cyan-500  { color: hsl( 193, 80%, 68%); }
.cyan-600  { color: hsl( 193, 80%, 62%); }
.cyan-700  { color: hsl( 193, 80%, 56%); }
.cyan-800  { color: hsl( 193, 80%, 50%); }
.cyan-900  { color: hsl( 193, 80%, 46%); }
 
.blue-50   { color: hsl( 218, 70%, 98%); }
.blue-100  { color: hsl( 218, 70%, 92%); }
.blue-200  { color: hsl( 218, 70%, 86%); }
.blue-300  { color: hsl( 218, 70%, 80%); }
.blue-400  { color: hsl( 218, 70%, 74%); }
.blue-500  { color: hsl( 218, 70%, 68%); }
.blue-600  { color: hsl( 218, 70%, 62%); }
.blue-700  { color: hsl( 218, 70%, 56%); }
.blue-800  { color: hsl( 218, 70%, 50%); }
.blue-900  { color: hsl( 218, 70%, 46%); }

.magenta-50  { color: hsl( 335, 80%, 98%); }
.magenta-100 { color: hsl( 335, 80%, 92%); }
.magenta-200 { color: hsl( 335, 80%, 86%); }
.magenta-300 { color: hsl( 335, 80%, 80%); }
.magenta-400 { color: hsl( 335, 80%, 74%); }
.magenta-500 { color: hsl( 335, 80%, 68%); }
.magenta-600 { color: hsl( 335, 80%, 62%); }
.magenta-700 { color: hsl( 335, 80%, 56%); }
.magenta-800 { color: hsl( 335, 80%, 50%); }
.magenta-900 { color: hsl( 335, 80%, 46%); }

.purple-50  { color: hsl( 277, 70%, 98%); }
.purple-100 { color: hsl( 277, 70%, 92%); }
.purple-200 { color: hsl( 277, 70%, 86%); }
.purple-300 { color: hsl( 277, 70%, 80%); }
.purple-400 { color: hsl( 277, 70%, 74%); }
.purple-500 { color: hsl( 277, 70%, 68%); }
.purple-600 { color: hsl( 277, 70%, 62%); }
.purple-700 { color: hsl( 277, 70%, 56%); }
.purple-800 { color: hsl( 277, 70%, 50%); }
.purple-900 { color: hsl( 277, 70%, 46%); }

.bg-gray-50  { background-color: hsl( 218, 16%, 98%); }
.bg-gray-100 { background-color: hsl( 218, 16%, 96%); }
.bg-gray-200 { background-color: hsl( 218, 16%, 94%); }
.bg-gray-300 { background-color: hsl( 218, 16%, 90%); }
.bg-gray-400 { background-color: hsl( 218, 16%, 86%); }
.bg-gray-500 { background-color: hsl( 218, 16%, 82%); }
.bg-gray-600 { background-color: hsl( 218, 16%, 78%); }
.bg-gray-700 { background-color: hsl( 218, 16%, 70%); }
.bg-gray-800 { background-color: hsl( 218, 16%, 66%); }
.bg-gray-900 { background-color: hsl( 218, 16%, 60%); }

.bg-black-50  { background-color: hsl( 220, 10%, 98%); }
.bg-black-100 { background-color: hsl( 220, 10%, 90%); }
.bg-black-200 { background-color: hsl( 220, 10%, 80%); }
.bg-black-300 { background-color: hsl( 220, 10%, 70%); }
.bg-black-400 { background-color: hsl( 220, 10%, 60%); }
.bg-black-500 { background-color: hsl( 220, 10%, 50%); }
.bg-black-600 { background-color: hsl( 220, 10%, 40%); }
.bg-black-700 { background-color: hsl( 220, 10%, 30%); }
.bg-black-800 { background-color: hsl( 220, 10%, 20%); }
.bg-black-900 { background-color: hsl( 220, 10%, 10%); }

.bg-red-50     { background-color: hsl( 0, 90%, 98%); }
.bg-red-100    { background-color: hsl( 0, 90%, 92%); }
.bg-red-200    { background-color: hsl( 0, 90%, 86%); }
.bg-red-300    { background-color: hsl( 0, 90%, 80%); }
.bg-red-400    { background-color: hsl( 0, 90%, 74%); }
.bg-red-500    { background-color: hsl( 0, 90%, 68%); }
.bg-red-600    { background-color: hsl( 0, 90%, 62%); }
.bg-red-700    { background-color: hsl( 0, 90%, 56%); }
.bg-red-800    { background-color: hsl( 0, 90%, 50%); }
.bg-red-900    { background-color: hsl( 0, 90%, 46%); }

.bg-orange-50  { background-color: hsl( 23, 100%, 98%); }
.bg-orange-100 { background-color: hsl( 23, 100%, 92%); }
.bg-orange-200 { background-color: hsl( 23, 100%, 86%); }
.bg-orange-300 { background-color: hsl( 23, 100%, 80%); }
.bg-orange-400 { background-color: hsl( 23, 100%, 74%); }
.bg-orange-500 { background-color: hsl( 23, 100%, 68%); }
.bg-orange-600 { background-color: hsl( 23, 100%, 62%); }
.bg-orange-700 { background-color: hsl( 23, 100%, 56%); }
.bg-orange-800 { background-color: hsl( 23, 100%, 50%); }
.bg-orange-900 { background-color: hsl( 23, 100%, 46%); }

.bg-yellow-50  { background-color: hsl( 42, 100%, 98%); }
.bg-yellow-100 { background-color: hsl( 42, 100%, 92%); }
.bg-yellow-200 { background-color: hsl( 42, 100%, 86%); }
.bg-yellow-300 { background-color: hsl( 42, 100%, 80%); }
.bg-yellow-400 { background-color: hsl( 42, 100%, 74%); }
.bg-yellow-500 { background-color: hsl( 42, 100%, 68%); }
.bg-yellow-600 { background-color: hsl( 42, 100%, 62%); }
.bg-yellow-700 { background-color: hsl( 42, 100%, 56%); }
.bg-yellow-800 { background-color: hsl( 42, 100%, 50%); }
.bg-yellow-900 { background-color: hsl( 42, 100%, 47%); }

.bg-green-50   { background-color: hsl( 100, 60%, 98%); }
.bg-green-100  { background-color: hsl( 100, 60%, 92%); }
.bg-green-200  { background-color: hsl( 100, 60%, 86%); }
.bg-green-300  { background-color: hsl( 100, 60%, 80%); }
.bg-green-400  { background-color: hsl( 100, 60%, 74%); }
.bg-green-500  { background-color: hsl( 100, 60%, 68%); }
.bg-green-600  { background-color: hsl( 100, 60%, 62%); }
.bg-green-700  { background-color: hsl( 100, 60%, 56%); }
.bg-green-800  { background-color: hsl( 100, 60%, 50%); }
.bg-green-900  { background-color: hsl( 100, 60%, 46%); }
 
.bg-lime-50    { background-color: hsl( 81, 80%, 98%); }
.bg-lime-100   { background-color: hsl( 81, 80%, 92%); }
.bg-lime-200   { background-color: hsl( 81, 80%, 86%); }
.bg-lime-300   { background-color: hsl( 81, 80%, 80%); }
.bg-lime-400   { background-color: hsl( 81, 80%, 74%); }
.bg-lime-500   { background-color: hsl( 81, 80%, 68%); }
.bg-lime-600   { background-color: hsl( 81, 80%, 62%); }
.bg-lime-700   { background-color: hsl( 81, 80%, 56%); }
.bg-lime-800   { background-color: hsl( 81, 80%, 50%); }
.bg-lime-900   { background-color: hsl( 81, 80%, 46%); }

.bg-cyan-50   { background-color: hsl( 193, 80%, 98%); }
.bg-cyan-100  { background-color: hsl( 193, 80%, 92%); }
.bg-cyan-200  { background-color: hsl( 193, 80%, 86%); }
.bg-cyan-300  { background-color: hsl( 193, 80%, 80%); }
.bg-cyan-400  { background-color: hsl( 193, 80%, 74%); }
.bg-cyan-500  { background-color: hsl( 193, 80%, 68%); }
.bg-cyan-600  { background-color: hsl( 193, 80%, 62%); }
.bg-cyan-700  { background-color: hsl( 193, 80%, 56%); }
.bg-cyan-800  { background-color: hsl( 193, 80%, 50%); }
.bg-cyan-900  { background-color: hsl( 193, 80%, 46%); }
 
.bg-blue-50   { background-color: hsl( 218, 70%, 98%); }
.bg-blue-100  { background-color: hsl( 218, 70%, 92%); }
.bg-blue-200  { background-color: hsl( 218, 70%, 86%); }
.bg-blue-300  { background-color: hsl( 218, 70%, 80%); }
.bg-blue-400  { background-color: hsl( 218, 70%, 74%); }
.bg-blue-500  { background-color: hsl( 218, 70%, 68%); }
.bg-blue-600  { background-color: hsl( 218, 70%, 62%); }
.bg-blue-700  { background-color: hsl( 218, 70%, 56%); }
.bg-blue-800  { background-color: hsl( 218, 70%, 50%); }
.bg-blue-900  { background-color: hsl( 218, 70%, 46%); }

.bg-magenta-50  { background-color: hsl( 335, 80%, 98%); }
.bg-magenta-100 { background-color: hsl( 335, 80%, 92%); }
.bg-magenta-200 { background-color: hsl( 335, 80%, 86%); }
.bg-magenta-300 { background-color: hsl( 335, 80%, 80%); }
.bg-magenta-400 { background-color: hsl( 335, 80%, 74%); }
.bg-magenta-500 { background-color: hsl( 335, 80%, 68%); }
.bg-magenta-600 { background-color: hsl( 335, 80%, 62%); }
.bg-magenta-700 { background-color: hsl( 335, 80%, 56%); }
.bg-magenta-800 { background-color: hsl( 335, 80%, 50%); }
.bg-magenta-900 { background-color: hsl( 335, 80%, 46%); }

.bg-purple-50  { background-color: hsl( 277, 70%, 98%); }
.bg-purple-100 { background-color: hsl( 277, 70%, 92%); }
.bg-purple-200 { background-color: hsl( 277, 70%, 86%); }
.bg-purple-300 { background-color: hsl( 277, 70%, 80%); }
.bg-purple-400 { background-color: hsl( 277, 70%, 74%); }
.bg-purple-500 { background-color: hsl( 277, 70%, 68%); }
.bg-purple-600 { background-color: hsl( 277, 70%, 62%); }
.bg-purple-700 { background-color: hsl( 277, 70%, 56%); }
.bg-purple-800 { background-color: hsl( 277, 70%, 50%); }
.bg-purple-900 { background-color: hsl( 277, 70%, 46%); }




.grad-blue-50 { 
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
}
.grad-blue-100 { 
    background-color: #0372b3;
    background-image: linear-gradient(160deg, #0372b3 0%, #80D0C7 100%); 
}

.grad-blue-dynamic {
    background: linear-gradient(270deg, #21b4c8, #174e9b);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}